extends layout
block content
        div#main
            section(id='addOffer', class='four')

                div.container
                    header
                        h2 Add offer : 
                        br

                        form(action="../add/ok", method="post")
                            div.row
                                div(class='6u 12u$(mobile)')
                                    input(type='text', name='nameEvenement', placeholder='nameEvenement')
                                div(class='6u 12u$(mobile)')
                                    input(type='text', name='type', placeholder='type')

                            div.row
                                div(class='6u 12u$(mobile)')
                                    input(type='date', name='dateBegin', placeholder='dateBegin')
                                div(class='6u 12u$(mobile)')
                                    input(type='number', name='numberDay', placeholder='numberDay')

                            div.row
                                div(class='6u 12u$(mobile)')
                                    input(type='number', name='numberExtra', placeholder='numberExtra')
                                div(class='6u 12u$(mobile)')
                                    input(type='text', name='role', placeholder='role')
                                div(class='12u$')                
                                    input(type='submit')
                    footer
                .container



