extends layout
block content
        div#main
            section(id='addExtra', class='four')

                div.container
                    header
                        h2 Add Extra : 
                        br

                        form(action="../extra/ok2", method="post")
                            div.row
                                div(class='12u$')
                                    input(type='text', name='last_name', placeholder='last name')
                            div.row
                                div(class='12u$')
                                    input(type='text', name='first_name', placeholder='first name')
                            div.row
                                div(class='12u$')
                                    input(type='email', name='email', placeholder='email')
                                div(class='12u$')                
                                    input(type='submit')
                                div(class='12u$')                
                                    input(type='reset')
                    footer
                .container
