extends layout
block content
    div#main
            section(id='ListCandidacy', class='four')
                div.container
                    header
                        h2= title 
                        br
                        
                        table
                            div.row
                                div(class='6u 12u$(mobile)')
                                    tr
                                        th NameEvenement
                                        th Last name
                                        th First name
                                        th role
                                        th etat
                                div(class='6u 12u$(mobile)')
                                    tr
                                    each candidacyTab, i in candidacy
                                        tr
                                            td
                                                =candidacyTab.offer.nameEvenement
                                            td
                                                =candidacyTab.extra.last_name
                                            td
                                                =candidacyTab.extra.first_name
                                            td
                                                =candidacyTab.offer.role
                                            td
                                                =candidacyTab.etat
                    footer
