extends layout
block content
    div#main
            section(id='ListOffer', class='four')
                div.container
                    header
                        h2= title 
                        br
                        
                        table
                            div.row
                                div(class='6u 12u$(mobile)')
                                    tr
                                        th NameEvenement
                                        th Type
                                        th DateBegin
                                        th NumberDay
                                        th role
                                        th NumberExtra
                                        th Delete
                                div(class='6u 12u$(mobile)')
                                    tr
                                    each offerTab, i in offer
                                        tr
                                            td
                                                =offerTab.nameEvenement
                                            td
                                                =offerTab.type
                                            td
                                                =offerTab.dateBegin
                                            td
                                                =offerTab.numberDay
                                            td
                                                =offerTab.role
                                            td
                                                =offerTab.numberExtra
                                            td
                                                a(href='/offer/delete/'+offerTab._id) 
                                                    img(src='/images/Delete-icon.png' )
                    footer

